@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--font-color);
}
:root{
  --background-color: #FFFAEC;  
  --secondary-color: #F5ECD5;   
  --primary-color: #578E7E;     
  --accent-color: #E26A2C;      
  --font-color: #3D3D3D;        
  --hover-color: #466E65;       
  --border-color: #D4C9B1;      
  --light-text: #7A7A7A;        
}
body{
  background-color: #FFFAEC;
}